body {
  font-family: 'Candara', sans-serif;
  font-weight: lighter;
  margin: 50px 350px 50px 350px;
  line-height: 20px;
}

.site-title {
    font-size: 85px;
    letter-spacing: 40px;
    color: #FFC0CB
  }

  .column {
      float: left;
      width: 33.33%;
  }

  /* Clear floats after the columns */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }

.välkommen {
  font-size: 30px;
}

hr {
  height: 1px;
  color: #FFC0CB;
  background-color: #FFC0CB;
  border: none;
}

a:link {
color: #008368;
text-decoration: none;
}
a:visited {
color: #008368;
text-decoration: none;
}
a:hover {
color: #FFC0CB;
}
a:active {
text-decoration: underline;
}
#meny {
margin: 30px;
padding: 0;
list-style: none;
}
#meny li {
display: inline;
list-style-type: none;
padding: 0 50px 0 0;
}
