body {
  font-family: 'Candara', sans-serif;
  font-weight: lighter;
  margin: 0px 0px 50px 0px;
  text-align: left;
}

.site-header {
 background: #FFC0CB;
 height: 150px;
}

.site-title {
  color: #ffffff;
    font-size: 45px;
    letter-spacing: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
  }

h2, h3 {
  margin: 0px 350px 20px 350px;
}

img {
  margin: 0px 350px 20px 350px;
}

p {
  margin: 0px 350px 20px 350px;
  line-height: 170%;
}

  .column {
      float: left;
      width: 33.33%;
  }

.row {
  margin: 0px 350px 20px 350px;
  text-align: center;
  line-height: 140%;
}

  /* Clear floats after the columns */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }

  .contact {
    margin: 0px 350px 20px 350px;
  }

.välkommen {
  font-size: 30px;
  line-height: normal;
  margin: 0px 350px 20px 350px;
}

hr {
  height: 1px;
  background-color: #FFC0CB;
  border: none;
  margin: 0px 0px 20px 0px;
}

a:link {
color: #2D005B;
text-decoration: none;
}
a:visited {
color: #2D005B;
text-decoration: none;
}
a:hover {
color: #FFC0CB;
}
a:active {
text-decoration: underline;
}

#meny {
margin: 30px;
padding: 0;
list-style: none;
text-align: center;
}

#meny li {
display: inline;
list-style-type: none;
padding: 0 50px 0 0;
}
