body {
  font-family: 'Candara', sans-serif;
  font-weight: lighter;
  margin: 50px 400px 50px 400px;
  line-height: 20px;
}

a:link {
color: #000;
text-decoration: none;
}
a:visited {
color: #000;
text-decoration: none;
}
a:hover {
color: #FFC0CB;
}
a:active {
text-decoration: underline;
}
#meny {
margin: 30px;
padding: 0;
list-style: none;
}
#meny li {
display: inline;
list-style-type: none;
padding: 0 20px 0 0;
}
